.table {
  font-family: Lato;
  margin: 0 2% 0 2%;
  width: 96%;
  height: calc(70vh);
  overflow-y: auto;
  thead {
    tr {
      height: 30px;
      font-size: 15px;
    }
  }
  tbody {
    width: 100%;
  }
}
