.submit-button {
  float: right;
}

.entry-container {
  margin: 0 5% 0 5%;
}

.entry-container__breadcrumb {
  background-color: inherit;
  padding: 0;
}

.entry-container__form-container--form {
  font-family: Lato;
  height: auto;
  overflow-y: auto;
}

button {
  float: right;
  border-radius: 0 3px 3px 0;
  margin-right: 15px;
  border: none;
  box-shadow: none;
  font-family: Lato;
  padding: 8px 12px;
  border-radius: 3px;

}

.active--button {
  background-color: #53BBB4;
  color: white;
  &:hover {
    background-color: darken(#53BBB4, 5%);
  }
}

.idle--button {
  background-color: #cfccce;
  color: #36464F;
  cursor: default;
}

.delete--button {
  background-color: #cfccce;
  color: #36464F;
  cursor: pointer;
  &:hover {
    background-color: darken(#cfccce, 5%);
  }
}

.synonym-container__overlay {
  background-color: #cfccce;
  padding: 1px 6px 1px 6px;
}

h4 {
  font-family: Lato;
}

.verbatim {
  border: solid lightgrey 1px;
  font-family: "Courier New", Courier, monospace;
  color: inherit;
}

.form__info {
  color: black;
}
