.jumbotron {
  padding: 0 0 10px 0;
  background-color: #f9f9f9;
  p {
    margin-left: 20px;
  }
  h1 {
    margin-left: 20px;
  }
}

.login-panel {
  margin: 0 10% 0 10%;
}

.failed-message {
  color: #ff0018;
}

.page__page-container--login {
  background-color: inherit;
}
