.table--container {
  height: calc(70vh);
  margin: 0 2% 0 2%;
  width: 96%;
}

.table {
  font-family: Lato;
  thead {
    tr {
      height: 30px;
      font-size: 15px;
    }
  }
  tbody {
    width: 100%;
  }
}

.pagination--container {
  display: flex;
  align-items: center;
  justify-content: center;
}
